#name p {
	margin-top: 0;
  	font-size: 35px; 
	font-weight: bold;
	padding: 150px 50px 20px;
}

.boxes{
	width: 49%;
}

#logo img {
	position:absolute;
	z-index: -1;
	height: 250px;
	box-shadow: 5px 5px 3px #646464;
	border-radius: 10px;
	width: 90%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
