#menu3 {
	height: 745px;
	text-align: center;
	font-weight: bold;
    font-size: 16px;
    text-shadow: 4px 3px 4px #C0C0C0;
}

#menu3 ul {
	background: #EEC591; /*#DDC293;*/
	box-shadow: 5px 5px 3px #8B5A00;
	border-radius: 10px;  
	background: linear-gradient(top, #FFE4B5 0%, #AA6600 100%);  
	background: -moz-linear-gradient(top, #FFE4B5 0%, #AA6600 100%); 
	background: -webkit-linear-gradient(top, #FFE4B5 0%, #AA6600 100%); 
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: block;
}

#menu3 ul ul {
	background: #CDAA7D;
}

#menu3 ul li a {
	color: #303030;
	display: block; padding: 8px 11px;
	text-decoration: none;
}

#menu3 a:hover {
    color: #909090;
}
		

#menu2 {
    height: 35px;
    font-size: 16px;
    text-align: center;
    text-shadow: 3px 2px 3px #B0B0B0;
    background-color: #FFFFFF;
	box-shadow: 5px 5px 3px #888888;
	border-color: #101010;
	border-radius: 1px;
  	border-width: 2px;
}

#menu2 ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu2 li { 
	display: inline; 
	padding: 3px; 
}

#menu2 a {
    text-decoration: none;
    color: #303030;
    padding: 6px 6px 6px 6px;
}

#menu2 a:hover {
    color: #909090;
    background-color: #FFFFFF;
}