#menu3 {
	height: 45px;
	text-align: center;
	font-weight: bold;
    font-size: 16px;
    text-shadow: 4px 3px 4px #C0C0C0;
}

#menu3 ul ul {
	display: none;
}

#menu3 ul li:hover > ul {
	display: block;
}

#menu3 ul {
	background-color: #F0F0F0;
	border-radius: 10px;  
	background: linear-gradient(top, #F0F0F0 0%, #7C7C7C 100%);  
	background: -moz-linear-gradient(top, #F0F0F0 0%, #7C7C7C 100%); 
	background: -webkit-linear-gradient(top, #F0F0F0 0%, #7C7C7C 100%); 
	box-shadow: 5px 5px 3px #646464;
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#menu3 ul:after {
	content: ""; clear: both; display: block;
}

#menu3 ul li {
	float: left;
}

#menu3 ul li:hover {
	background: #ffffff; 
	background: linear-gradient(top, #F0F0F0 0%, #3C3C3C 100%);  
	background: -moz-linear-gradient(top, #F0F0F0 0%, #3C3C3C 100%); 
	background: -webkit-linear-gradient(top, #F0F0F0 0%, #3C3C3C 100%); 
}

#menu3 ul li:hover a {
	color: #f0f0f0;
    text-shadow: 3px 2px 3px #B0B0B0;
}

#menu3 ul li a {
    *zoom: 1;
	color: #303030;
	display: block; padding: 8px 11px;
	text-decoration: none;
}

#menu3 ul ul {
	background: #7C7C7C; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

#menu3 ul ul li {
	color: #303030;
    text-shadow: 4px 3px 4px #3C3C3C;
	float: none; 
	border-top: 2px solid #C0C0C0;
	border-bottom: 1px solid #7C7C7C; position: relative;
}

#menu3 ul ul li a {
	padding: 8px 25px;
}

#menu3 ul ul li a:hover {
	background: #3C3C3C;
	color: #F0F0F0;
}
		
#menu3 ul ul ul {
	position: absolute; left: 100%; top:0;
}

		

#menu2 {
    height: 35px;
    font-size: 16px;
    text-align: center;
    text-shadow: 3px 2px 3px #B0B0B0;
    background-color: #FFFFFF;
	box-shadow: 5px 5px 3px #888888;
	border-color: #101010;
	border-radius: 1px;
  	border-width: 2px;
}

#menu2 ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu2 li { 
	display: inline; 
	padding: 3px; 
}

#menu2 a {
    text-decoration: none;
    color: #303030;
    padding: 6px 6px 6px 6px;
}

#menu2 a:hover {
    color: #909090;
    background-color: #FFFFFF;
}