<html>
<head> 
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static "css/narrow.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/dropDown.css" %}"/>
<script type="text/javascript" src="{% static "java/js/jquery-1.9.1.js" %}"></script>
<script type="text/javascript" src="{% static "java/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "java/menuLoader.js" %}"></script>
<script type="text/javascript" src="{% static "java/functions.js" %}"></script>
<script type="text/javascript" src="{% static "java/admininstration.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var prev = '';
        var next = '';
        var curr = '';

        //Load index menu
        loadAdminContent('/administrationpage/siteContent/Hem/');
        loadMenu(true);

        //If the mouse is dragged over or clicked on a menu, update content
        var prev;
        $("#menu3").on("click", function(e) {
            if (e.toElement.href !== undefined) {
                var href = e.toElement.href.split('/');
                if (href[href.length - 2] == "manageMenu") {
                    loadMenuManager();
                    e.stopImmediatePropagation();
                    return false;
                }
                reloadPage(e, '/administrationpage', true);
                return false;
            }
        });

        /*$(window).bind('beforeunload', function(e){
            console.log(e);
            e.preventDefault();
            return false;
        });*/
    });

    //Add authentication cookie before each ajax calls
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });


    $(function() {
        adjustStyle($(this).width());
        $(window).resize(function() {
            adjustStyle($(this).width());
        });
    });
</script>
</head>
<body>
    <div class='center'>
        <div id="login"><a href="/">Lämna administrationssidan</a> <a href="/logout/">Logga ut</a></div>
    </div>
    
    <div id="displayMenu">Menu</div>
    <div id="menu3"></div>
    <hr>


    <div class='center' id='siteContent'>Du har en gammal webläsare, för att se denna sida behöver du en modernare webläsare med javascript påslaget, så som:</br><ul><li><a href="http://www.opera.com">Opera</a></li><li><a href="http://www.firefox.com">Firefox</a></li><li><a href="http://www.chrome.com">Chrome</a></li></ul></div>

    <div class='center footer'>
            <hr>
            <div id="footerpic">
                <img src="/media/footer.png" alt="Ad Astra Hästcenter" width="100" height="100">
            </div>
            <div id="kontakt">
                <p><b>Kontakt</b></p>
                <p>Sally: 0768-38 46 81 <a href="mailto:sally.adastra@gmail.com">
                sally.adastra@gmail.com</a></p>
                <p>Sara: 0737-24 11 51 <a href="mailto:adastra.sara@gmail.com">
                adastra.sara@gmail.com</a></p>
            </div>
            <div id="adress">
                <p><b>Adress</b></p>
                <p>Ad Astra Hästcenter<br/>Steningevägen 7<br/>762 95 Rimbo</p>
            </div>
            <div id="organisation">
                <p><b>Organisationsnummer</b></p>
                <p>556938-4893</p>
                <p><b>Bankgiro</b></p>
                <p>199-2361</p>
            </div>
            <div style="clear:both;"></div>
        
        </div>
</body>
</html>
