<html>
<head> 
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static "css/wide.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/dropDown.css" %}"/>
<script type="text/javascript" src="{% static "java/js/jquery-1.9.1.js" %}"></script>
<script type="text/javascript" src="{% static "java/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "java/menuLoader.js" %}"></script>
<script type="text/javascript" src="{% static "java/functions.js" %}"></script>
<script type="text/javascript" src="{% static "java/albumslider.js" %}"></script>
<script type="text/javascript">
    /*Gallery variables*/
    var currPic = 0;
    var numbPic = 0;

    /*Gallery function */
    function setPicIndex(x) {
        if (x >= 0 && x < numbPic) {
            currPic = x;
        } else if (x < 0) {
            currPic = 0;
        } else if (x == numbPic) {
            currPic = numbPic-1;
        }
    }

    $(document).ready(function(){
        var prev = '';
        var next = '';
        var curr = '';

        /*Load the current site */
        loadContent(getSiteString());
        loadMenu(false);

        /*Manage menu mouse over and click events, update content */
        $("#jquerymenu").on("click", function(e) {
            reloadPage(e, '', false);
            return false;
        });

        /*Update info on the user if logged in, check with server if the user is still active */
        $.getJSON(/checkLoggedIn/, function(data) {
            if (data['loggedIn'] === "True") {
                /* $('#login').html('<p>Welcome, ' + data['firstName'] + ' ' + data['lastName'] + ', <a href="/logout/">Logga ut</a></p>'); */
            } else {
                /* $('#login').html('<p><a href="{% url "socialauth_begin" "facebook" %}">Logga in med the Facebook</a></p>'); */
            }
        });

        /*$(window).bind('beforeunload', function(e){
            console.log(e);
            e.preventDefault();
            return false;
        });*/

        /*Each 10 minutes, check that the user is still active and update */
        var ajax_call = function() {
            $.getJSON(/checkLoggedIn/, function(data) {
                if (data['loggedIn'] === "True") {
                    /* $('#login').html('<p>Welcome, ' + data['firstName'] + ' ' + data['lastName'] + ', <a href="/logout/">Logga ut</a></p>'); */
                } else {
                    /*$('#login').html('<p><a href="{% url "socialauth_begin" "facebook" %}">Logga in med the Facebook</a></p>'); */
                }
            });
        };

        var interval = 1000 * 60 * 10;

        setInterval(ajax_call, interval);
    });
    
    /*Gallery management function */
    function setNumbPic(evt) {
        numbPic = $(".scroll-content img").length;
        $(".scroll-content img").on("click", function(e) {
            setPicIndex(e.target.id);
            changePicture(e.target.src, e.target.alt);
        });

        $(".scroll-content img").on("mouseover", function(e) {
            setPicIndex(parseInt(e.target.id));
            changePicture(e.target.src, e.target.alt);
        });
    }

    /*Control the gallery with left and right keys */
    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
            setPicIndex(currPic-1);
            $( ".scroll-content img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }

        if (e.keyCode == 39) { 
            setPicIndex(currPic+1);
            $( ".scroll-content img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }
    });


    /*Add authentication cookie before each ajax calls */
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        /* Does this cookie string begin with the name we want? */
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                /* Only send the token to relative URLs i.e. locally. */
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });


    $(function() {
        adjustStyle($(this).width());
        $(window).resize(function() {
            adjustStyle($(this).width());
        });
    });

</script>

<style type="text/css">
    body {
        margin:0;
        padding:0;
    }

    div { margin: 0; }
</style>

</head>
<body>
    <div class='center'>
        <div id='logo'>
            <img src="/static/images/styles/024.jpg" alt=""/>
            <div id='name'>
                <p>Ad Astra Hästcenter</p>
            </div>

            <div id="login"></div>
        </div>
        <div id='jquerymenu'></div>

        <div id='siteContent'><br/>Välkommen till Ad Astra Hästcenter!<br/>
Lättast kontaktar du oss med din förfrågan via mail. <br/>
sally.adastra@gmail.com <br/>
<br/>
Telefon; <br/>
Sara 0737-24 11 51 <br/>
Sally 0768-38 46 81 <br/>

Adress; <br/>
Ad Astra Hästcenter <br/>
Steninge <br/>
74195 KNIVSTA <br/>
<br/><br/>
Du har en gammal webläsare, för att se denna sida behöver du en modernare webläsare med javascript påslaget, så som:</br><ul><li><a href="http://www.opera.com">Opera</a></li><li><a href="http://www.firefox.com">Firefox</a></li><li><a href="http://www.chrome.com">Chrome</a></li></ul>
        </div>
    </div>

</body>
</html>
