<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static "css/wide.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/dropDown.css" %}"/>
<link id="menu-stylesheet" rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}"/>
<script type="text/javascript" src="{% static "java/js/jquery-1.9.1.js" %}"></script>
<script type="text/javascript" src="{% static "java/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "java/menuLoader.js" %}"></script>
<script type="text/javascript" src="{% static "java/functions.js" %}"></script>
<script type="text/javascript" src="{% static "java/albumslider.js" %}"></script>
<script type="text/javascript">
    /*Gallery variables*/
    var currPic = 0;
    var numbPic = 0;

    //var hasIE = false;

    /*Gallery function */
    function setPicIndex(x) {
        if (x >= 0 && x < numbPic) {
            currPic = x;
        } else if (x < 0) {
            currPic = 0;
        } else if (x == numbPic) {
            currPic = numbPic-1;
        }
    }

    /*function getInternetExplorerVersion() {
        var rv = -1; 
        var ua = navigator.userAgent;
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat( RegExp.$1 );
        } else if (navigator.appName == 'Netscape') {
            var re  = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat( RegExp.$1 );
        }

        return rv;
    }*/
    

    $(document).ready(function(){
        $("#displayMenu").click(function(e) {
            e.preventDefault();
            $("#menu3").toggle();
        });


        /*if(getInternetExplorerVersion() != -1) { // IE
            hasIE = true;
        } else if (navigator.userAgent.indexOf('Chrome') != -1) { // Chrome
        } else if(navigator.userAgent.indexOf('Safari') != -1) { // Safari
        } else if (navigator.userAgent.indexOf('Firefox') != -1) { // Firefox
        } else if (navigator.userAgent.indexOf('Opera') != -1) { // Opera
        } else { // other
        }*/

        var prev = '';
        var next = '';
        var curr = '';

        /*Load the current site */
        loadContent(getSiteString());
        loadMenu(false);

        /*Manage menu mouse over and click events, update content */
        $("#menu3").on("click", function(e) {
            reloadPage(e, '', false);
            e.preventDefault();
            e.stopImmediatePropagation();
            return false;
        });

        /*Update info on the user if logged in, check with server if the user is still active */
        $.getJSON(/checkLoggedIn/, function(data) {
            if (data['loggedIn'] === "True") {
                /* $('#login').html('<p>Welcome, ' + data['firstName'] + ' ' + data['lastName'] + ', <a href="/logout/">Logga ut</a></p>'); */
            } else {
                /* $('#login').html('<p><a href="{% url "socialauth_begin" "facebook" %}">Logga in med the Facebook</a></p>'); */
            }
        });

        /*$(window).bind('beforeunload', function(e){
            console.log(e);
            e.preventDefault();
            return false;
        });*/

        /*Each 10 minutes, check that the user is still active and update */
        var ajax_call = function() {
            $.getJSON(/checkLoggedIn/, function(data) {
                if (data['loggedIn'] === "True") {
                    /* $('#login').html('<p>Welcome, ' + data['firstName'] + ' ' + data['lastName'] + ', <a href="/logout/">Logga ut</a></p>'); */
                } else {
                    /*$('#login').html('<p><a href="{% url "socialauth_begin" "facebook" %}">Logga in med the Facebook</a></p>'); */
                }
            });
        };

        var interval = 1000 * 60 * 10;

        setInterval(ajax_call, interval);
    });
    
    /*Gallery management function */
    function setNumbPic(evt) {
        numbPic = $(".scroll-content img").length;
        $(".scroll-content img").on("click", function(e) {
            setPicIndex(e.target.id);
            changePicture(e.target.src, e.target.alt);
        });

        $(".scroll-content img").on("mouseover", function(e) {
            setPicIndex(parseInt(e.target.id));
            changePicture(e.target.src, e.target.alt);
        });
    }

    /*Control the gallery with left and right keys */
    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
            setPicIndex(currPic-1);
            $( ".scroll-content img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }

        if (e.keyCode == 39) { 
            setPicIndex(currPic+1);
            $( ".scroll-content img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }
    });


    /*Add authentication cookie before each ajax calls */
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        /* Does this cookie string begin with the name we want? */
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                /* Only send the token to relative URLs i.e. locally. */
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });


    $(function() {
        adjustStyle($(this).width());
        $(window).resize(function() {
            adjustStyle($(this).width());
        });
    });

</script>

<style type="text/css">
    body {
        margin:0;
        padding:0;
    }

    div { margin: 0; }
</style>

</head>
<body>
    <div class='center'>
        <div id='logo'>
            <img src="/static/images/styles/024.jpg" alt=""/>
            <div id='name'>
                <p>Ad Astra Hästcenter</p>
            </div>
        </div>
        
        <div id="displayMenu">Meny</div>
        <div id="menu3"></div>
        <hr>

        <div id='siteContent'>Välkommen till Ad Astra Hästcenter!<br/>
Lättast kontaktar du oss med din förfrågan via mail. <br/>
<p>Sally: 0768-38 46 81 <a href="mailto:sally.adastra@gmail.com">
sally.adastra@gmail.com</a></p>
<p>Sara: 0737-24 11 51 <a href="mailto:adastra.sara@gmail.com">
adastra.sara@gmail.com</a></p>

Adress; <br/>
Ad Astra Hästcenter <br/>
Steninge <br/>
74195 KNIVSTA <br/>
<br/><br/>
Du har en gammal webläsare, för att se denna sida behöver du en modernare webläsare med <B>javascript</B> påslaget, så som:</br><ul><li><a href="http://www.opera.com">Opera</a></li><li><a target="_blank" href="http://www.firefox.com">Firefox</a></li><li><a href="http://www.chrome.com">Chrome</a></li></ul>
        </div>
        <div class='footer'>
            <hr>
            <div id="footerpic">
                <img src="/media/footer.png" alt="Ad Astra Hästcenter" width="175" height="100">
            </div>
            <div id="kontakt">
                <p><b>Kontakt</b></p>
                <p>Sally: 0768-38 46 81 <a href="mailto:sally.adastra@gmail.com">
                sally.adastra@gmail.com</a></p>
                <p>Sara: 0737-24 11 51 <a href="mailto:adastra.sara@gmail.com">
                adastra.sara@gmail.com</a></p>
            </div>
            <div id="adress">
                <p><b>Adress</b></p>
                <p>Ad Astra Hästcenter<br/>Steningevägen 7<br/>762 95 Rimbo</p>
            </div>
            <div id="organisation">
                <p><b>Organisationsnummer</b></p>
                <p>556938-4893</p>
                <p><b>Bankgiro</b></p>
                <p>199-2361</p>
            </div>
            <div style="clear:both;"></div>
        
        </div>
    </div>
</body>
</html>
